* {
  margin: 5%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-image: url("img/header_back.jpg"); */
}

h1 {
  color: rgb(48, 17, 3);
}

.fa-plus {
  width: 20px;
  height: 20px;
}

#down-icon {
  width: 29px;
  height: 20px;
}

#image {
  display: flex;
}
